  <!-- carousel -->
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="jumbotron">
        <h1>Farmanator</h1>
        <br>
        <p>To make your life worth living.</p>
        <br><br><br>
      </div>
    </div>
    <div class="item">
      <div class="jumbotron">
        <h1>Air</h1>
        <p><br>Temperature: {{airtemp}}℃ <br> Humidity: {{airhumid}}%<br></p>
        <a ng-href="#/air" type="button" class="btn btn-default">More >></a>
      </div>
    </div>
    <div class="item">
      <div class="jumbotron">
        <h1>Light</h1>
        <p>Infrared: {{lightinfra}} <br> Visible: {{lightvisible}} <br> Lux: {{lightlux}}lx </p>
        <a ng-href="#/light" type="button" class="btn btn-default">More >></a>
      </div>
    </div>
    <div class="item">
      <div class="jumbotron">
        <h1>Noice</h1>
        <p><br>Noice: {{noice}}<br><br></p>
        <a ng-href="#/noice" type="button" class="btn btn-default">More >></a>
      </div>
    </div>
  </div>
