<h2>Noice levels</h2>

<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    {{view}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  	<li role="presentation" ng-repeat="item in items" ng-click="onClick(item)"><a role="menuitem">{{item}}</a></li>
  </ul>
</div>

<canvas id="line" class="chart chart-line" data="data"
  labels="labels" legend="true" series="series">
</canvas>

<p>Noice level is measured every 0.125 seconds in a 0.5 second loop. The output of a 0.5 second loop is the average of the 4 single noice level measures taken in that time.</p>
<p><b>Average</b> {{avgExpl}}</p>
<p><b>Peak</b> {{peakExpl}}</p>